*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Noto Sans Hatran ;
    height: auto;
    /* background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
}

.noto-sans-hatran-regular {
    font-family: "Noto Sans Hatran", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-size: 2.5rem;
}



